<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=WINDEV2008\EPISERVER;Initial Catalog=dbJungleSite;Integrated Security=False;User ID=dbUserJungleSite;Password=pass@word1;Connect Timeout=10" providerName="System.Data.SqlClient" />
  <add name="EPiServerDB_oracle" connectionString="Data Source=XE;User Id=episerverlocalCMS6RTM;Password=epi#Server7Local;" providerName="Oracle.DataAccess.Client" />
</connectionStrings>