<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="JungleSite">
      <add name="*" />
      <add name="jungle" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/2/ROOT:WINDEV2008" siteId="JungleSite" />
  </automaticSiteMapping>
</episerver.framework>